// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Customs
@import './variables';
@import './customization';

// Bootstrap styles
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $bg-color;
}

.login-form {
  width: 45%;
}

// Break points
@include media-breakpoint-down(lg) {
  .login-form {
    width: 85%;
  }
}
