// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Customs
@import './variables';
@import './customization';

// Bootstrap styles
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $bg-color;
}

.login-form {
  width: 45%;
}

.main-title {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 3px;
    background-color: $primary;
  }
}

.products-header {
  div {
    width: 75%;
  }
}

.main-home {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;

  h1 {
    font-size: 4rem;
    z-index: 10;
    margin-bottom: 2rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    object-fit: fill;
  }
}

.sale-delete {
  position: absolute;
  top: 1rem;
  right: 1.8rem;
  width: 30px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.contact-form {
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 60%;
    border-radius: 5px;
  }
}

// Break points
@include media-breakpoint-down(lg) {
  .login-form {
    width: 85%;
  }

  .products-header {
    div {
      width: 100%;
    }
    margin-bottom: 10px;
  }

  .product-create {
    width: 100% !important;
  }

  .contact-form form {
    width: 90%;
  }
}
